html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: flow-root;
}

html, body {
  height: 100vh;
  max-width: 1920px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #222;
  line-height: 1.2em;
}

@media (min-width: 411px) {
  body {
    background-image: url("../images/business-chairs-company-coworking-7070-bw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#cv {
  background-color: #fff;
}

.clear {
  clear: both;
}

#cv {
  width: 90%;
  margin: 0 auto;
}

.mainDetails {
  padding: 25px 35px;
  border-bottom: 2px solid #cf8a05;
}

.mainDetails #name {
  display: block;
  line-height: 2em;
  text-align: center;
}

@media (min-width: 410px) {
  .mainDetails #name {
    text-align: left;
    float: left;
  }
}

.mainDetails #name h1 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: -6px;
  position: relative;
  z-index: 10;
}

@media (min-width: 768px) {
  .mainDetails #name h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
  }
}

@media (min-width: 1024px) {
  .mainDetails #name h1 {
    font-size: 4em;
    margin-bottom: 0.4em;
  }
}

.mainDetails #name h2 {
  font-size: 1.5em;
  letter-spacing: -0.08em;
  margin-left: 2px;
}

@media (min-width: 768px) {
  .mainDetails #name h2 {
    font-size: 2em;
    letter-spacing: -0.09em;
  }
}

@media (min-width: 1024px) {
  .mainDetails #name h2 {
    font-size: 3em;
    letter-spacing: 0;
  }
}

#mainArea {
  padding: 0 5px;
}

@media (min-width: 411px) {
  #mainArea {
    padding: 0 15px;
  }
}

@media (min-width: 1024px) {
  #mainArea {
    padding: 0 40px;
  }
}

#headshot {
  width: 25%;
  display: block;
  margin: 5px auto;
}

@media (min-width: 411px) {
  #headshot {
    width: 12.5%;
    float: left;
    margin-right: 30px;
  }
  #headshot img {
    width: 100%;
    height: auto;
    border-radius: 50px;
  }
}

#headshot img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

#contactDetails {
  width: 10rem;
  margin: 0 auto;
  font-size: 0.9em;
}

@media (min-width: 411px) {
  #contactDetails {
    display: block;
    float: right;
    font-size: 1em;
  }
}

@media (min-width: 769px) {
  #contactDetails {
    width: 12.5rem;
    font-size: 1.2em;
  }
}

#contactDetails ul {
  list-style-type: none;
  margin-top: 2px;
}

#contactDetails ul li {
  color: #444;
  margin: 5px 0;
}

#contactDetails ul li a {
  color: #444;
  text-decoration: none;
}

#contactDetails ul li a:hover {
  color: #cf8a05;
}

#contactDetails ul li.social-icon {
  text-align: center;
  margin-left: 1rem;
  display: inline;
}

section {
  display: block;
  border-top: 1px solid #dedede;
  padding: 20px 5px 0 5px;
}

section:first-child {
  border-top: 0;
}

@media (min-width: 411px) {
  .sectionTitle {
    float: left;
    margin-bottom: 0;
  }
}

.sectionTitle h1 {
  overflow: visible;
  font-style: italic;
  font-size: 1.5em;
  color: #cf8a05;
  position: relative;
  margin-bottom: 15px;
  z-index: 10;
}

.sectionTitle h1::before {
  content: ' ';
  position: absolute;
  width: 4rem;
  background-color: #76ddff;
  height: .4em;
  bottom: -5px;
  z-index: -1;
}

.extended {
  display: none;
}

@media (min-width: 768px) {
  .extended {
    display: inline;
  }
}

.sectionContent {
  margin-left: 15px;
  text-align: left;
  padding-bottom: 20px;
}

@media (min-width: 411px) {
  .sectionContent {
    float: right;
    margin-left: 0;
    width: 80;
    text-align: justify;
  }
}

@media (min-width: 1024px) {
  .sectionContent {
    width: 90%;
  }
}

.sectionContent p {
  line-height: 1.4em;
}

.sectionContent article h1 {
  float: left;
  font-size: 1.45em;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 5px;
}

.sectionContent article .first {
  margin-top: 0 !important;
  margin-left: 0 !important;
}

.sectionContent article .title {
  float: left;
  clear: left;
  margin: 5px;
  text-align: left;
}

.sectionContent article .duration {
  float: right;
  margin: 0;
  text-align: right;
  font-weight: normal;
}

.sectionContent article h2 {
  float: left;
  font-size: 1.15em;
  font-weight: bold;
  margin: 5px 0 5px -5px;
  width: 100%;
}

.subItems {
  clear: left;
  margin-left: 5px;
  list-style-type: square;
}

.subItems li {
  padding: 8px 0 0 0;
}

.keySkills {
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
  font-size: 1em;
  color: #444;
  margin-left: 10px;
}

@media (min-width: 411px) and (max-width: 1023px) {
  .keySkills {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
}

@media (min-width: 1024px) {
  .keySkills {
    margin-left: 15px;
    -webkit-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

.skillHeader {
  font-weight: bold;
  padding: 7px 0;
  border-top: 1px solid gray;
}

.affiliations {
  margin-left: 20px;
  list-style-type: square;
  text-align: left;
  list-style-type: none;
  margin-left: 5px;
}

.affiliations li a {
  text-decoration: none;
  color: #222;
}

.affiliations li a:hover {
  text-decoration: underline;
  color: red;
}

.affiliations li a:active {
  color: black;
}
/*# sourceMappingURL=resume.css.map */